PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://harshit:harshit123@cluster0.xa3hb.mongodb.net
ACCESS_TOKEN_SECRET=kUsmy129tUBUGXiuZkDXtf4U6kb1w1yr
REFRESH_TOKEN_SECRET=sAQdpOv4sMTODW6mOL2nsXakVfO1Zqgq
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=ddmetekbu
CLOUDINARY_API_KEY=881352427773489
CLOUDINARY_API_SECRET=C2MBODXeiWEvQfHXfUMjC1371sos
CLOUDINARY_URL=cloudinary://881352427773489:C2MBODXeiWEvQfHXfUMjC1371so@ddmetekbu